nav {
  padding: 10px 40px;
  background-color: #5D5D65;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
  border-top: none;
}

nav > h1 {
  margin: 0;
}


.navlink-container {
  padding: 5px 10px;
  height: 100%;
  background-color: #7B7B85;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}

.navlink-container > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}